<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.redpanda.noatime</string>
        <key>ProgramArguments</key>
        <array>
            <string>mount</string>
            <string>-v</string>
            <string>-u</string>
            <string>-w</string>
            <string>-o</string>
            <string>noatime</string>
            <string>/</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StartOnMount</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/private/var/log/com.redpanda.noatime.err</string>
        <key>StandardOutPath</key>
        <string>/private/var/log/com.redpanda.noatime.log</string>
    </dict>
</plist>
